.card-body {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: calc(0.25rem * 2);
    padding: var(--card-p, 1rem);
    margin-left: 1rem;
    font-size: var(--card-fs, 0.875rem);

    :where(p) {
        flex-grow: 1;
        font-size: 18px;
        color: #0F0F0F70;
    }

    h2.card-title {
        font-size: 24px;
        font-weight: 800;
    }

    hr {
        width: 100%;
        border: none;
        border-top: 1px dashed #ccc;
        margin: 0.5rem 0;
    }

    .card-actions .btn {
        width: 347px;
        border-radius: 2rem;
        font-size: 20px;
        font-weight: bold;
    }
}

.card img{
    width:347px;
    height:248px;
    object-fit: cover;
    object-position: top; 
} 